---
import ContentWrapper from "../components/content-wrapper.astro";
import Layout from "../layout/layout.astro";

---

<Layout>
	<ContentWrapper>
		<section class="text-center space-y-4">
			<div>
				<h2 class="text-xl font-medium">Bienvenido a</h2>
				<h1 class="text-4xl font-bold">Math Memories</h1>
			</div>
			<p>Por Alejandro Morales Rios</p>
			<hr />
			<a href="doc.pdf" download="doc.pdf" class="px-5 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Descargar memoria</a>
		</section>
	</ContentWrapper>
</Layout>
